Repository seddonym/impulse: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, run-tests, build-docs

lint:
  name: Lint
  entry: just lint
  language: system
  require_serial: true
  pass_filenames: false

run-tests:
  name: Run tests
  entry: just test
  language: system
  pass_filenames: false

build-docs:
  name: Build docs
  entry: just build-docs
  language: system
  pass_filenames: false

Release v1.1
  CHANGELOG.rst
  docs/conf.py
  pyproject.toml
  src/impulse/__init__.py
  uv.lock
Due: lint, run-tests, build-docs

Build docs in precommit when editing an .rst file
  .pre-commit-config.yaml
Due: none

Change release workflow title and update docs
  .github/workflows/release.yml
  CONTRIBUTING.rst
Due: none

Run pytest tests
  justfile
  pyproject.toml
  uv.lock
Due: none

Refactor to use ports and adapters, and add test
  pyproject.toml
  src/impulse/adapters.py
  src/impulse/application/use_cases.py
  src/impulse/cli.py
  src/impulse/ports.py
  tests/test_placeholder.py
  tests/unit/__init__.py
  tests/unit/application/__init__.py
  tests/unit/application/test_use_cases.py
Due: lint, run-tests

Add cli flag --show-import-totals
  CHANGELOG.rst
  README.rst
  docs/_static/images/django.db.show-import-totals.png
  justfile
  src/impulse/cli.py
Due: lint, run-tests, build-docs

Add show_import_totals argument to use case
  justfile
  src/impulse/application/use_cases.py
  src/impulse/cli.py
  tests/unit/application/test_use_cases.py
Due: lint, run-tests

Release v1.2
  CHANGELOG.rst
  docs/conf.py
  pyproject.toml
  src/impulse/__init__.py
  uv.lock
Due: lint, run-tests, build-docs

Switch to vizjs from graphviz
  .github/workflows/main.yml
  CHANGELOG.rst
  README.rst
  pyproject.toml
  src/impulse/adapters.py
  src/impulse/application/use_cases.py
  src/impulse/cli.py
  src/impulse/dotfile.py
  src/impulse/ports.py
  tests/unit/application/test_use_cases.py
  uv.lock
Due: lint, run-tests

Improve readme
  README.rst
  docs/_static/images/django.db.png
  docs/_static/images/django.db.show-import-totals.png
  docs/_static/images/flask.png
  docs/_static/images/screenshot.png
Due: build-docs

Render modules as relative
  CHANGELOG.rst
  src/impulse/dotfile.py
Due: lint, run-tests

Release v2.0
  CHANGELOG.rst
  docs/conf.py
  pyproject.toml
  src/impulse/__init__.py
  uv.lock
Due: lint, run-tests, build-docs

Use badge for license in README
  README.rst
Due: none

Remove empty mypy overrides
  pyproject.toml
Due: none

Define Edge type
  src/impulse/application/use_cases.py
  src/impulse/dotfile.py
  tests/unit/application/test_use_cases.py
Due: lint, run-tests

Move rendering to Edge class
  src/impulse/dotfile.py
Due: lint, run-tests

Support passing in emphasis for edges
  src/impulse/dotfile.py
Due: lint, run-tests

Refactor edge rendering to prepare for more attributes
  src/impulse/dotfile.py
Due: lint, run-tests

Refactor use case
  src/impulse/application/use_cases.py
Due: lint, run-tests

Refactor to use strategy pattern
  src/impulse/application/use_cases.py
  src/impulse/dotfile.py
Due: lint, run-tests

Add cycle in test
  tests/unit/application/test_use_cases.py
Due: lint, run-tests

Add support for cycle breakers to use case
  pyproject.toml
  src/impulse/application/use_cases.py
  src/impulse/cli.py
  src/impulse/dotfile.py
  tests/unit/application/test_use_cases.py
  uv.lock
Due: lint, run-tests

Enable show-cycle-breakers in CLI
  justfile
  src/impulse/cli.py
Due: lint, run-tests

Add docs for show-cycle-breakers
  CHANGELOG.rst
  README.rst
  docs/_static/images/django.db.show-cycle-breakers.png
Due: build-docs

Make sure it works in Python 3.9
  src/impulse/application/use_cases.py
  tests/unit/application/test_use_cases.py
Due: lint, run-tests

Support namespace packages
  CHANGELOG.rst
  justfile
  src/impulse/adapters.py
  src/impulse/application/use_cases.py
  src/impulse/cli.py
  tests/unit/application/test_use_cases.py
Due: lint, run-tests

Release v2.1
  CHANGELOG.rst
  docs/conf.py
  pyproject.toml
  src/impulse/__init__.py
  uv.lock
Due: lint, run-tests, build-docs

Add recipe for upgrading Python
  justfile
  pyproject.toml
  uv.lock
Due: none

Drop support for Python 3.9
  .github/workflows/main.yml
  CHANGELOG.rst
  pyproject.toml
  uv.lock
Due: none

Upgrade code for Python 3.10
  docs/conf.py
  src/impulse/application/use_cases.py
  tests/unit/application/test_use_cases.py
Due: lint, run-tests, build-docs

Don't pin Grimp to 3.13
  CHANGELOG.rst
  pyproject.toml
  uv.lock
Due: none

Switch to badge for license
  README.rst
Due: none

Correct CI badge
  README.rst
Due: none

Release v2.2
  CHANGELOG.rst
  docs/conf.py
  pyproject.toml
  src/impulse/__init__.py
  uv.lock
Due: lint, run-tests, build-docs

Remove erroneous import linter lines from pyproject.toml
  pyproject.toml
Due: none

Add import linter contract
  .importlinter
  justfile
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  lint: any of: ^src|tests/.*$
  run-tests: any of: ^src|tests/.*$
  build-docs: any of: ^docs/.*$
